VITE_CALL_SERVER_URL = 'http://127.0.0.1:9003'
VITE_CALL_DEMO_SERVER_URL = 'http://127.0.0.1:9001'

# VITE_CALL_SERVER_URL = 'https://rtc.profexsol.com'
# VITE_CALL_DEMO_SERVER_URL = 'https://userapi.profexsol.com'